<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!--remember to go back and download actual files for this at http://google.github.io/material-design-icons/-->
	<link href="assets/global/css/foundation/css/foundation.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href="assets/global/css/app.css" rel="stylesheet" type="text/css">
	<link href="assets/front/css/front.css" rel="stylesheet" type="text/css">
</head>

<body>
<header class="front-page">
	<div class="header-left"><i class="material-icons">gesture</i><h4>unid</h4></div>
	<div class="header-right">
		<a href="#"><i class="material-icons">menu</i></a>
	</div>
</header>
<section class="front-page_hero">
	<div class="front-page_hero_text">
		<form action="http://localhost:8080/api/authenticate" method="post">
			<input name="name" type="text" placeholder="USERNAME">
			<input name="password" type="text" placeholder="PASSWORD">
			<input value="LOGIN" type="submit">
		</form>
		<!-- <h2>Maximize Project Efficiency</h2>
		<div>
			<p> UNID is a project management tool designed to place everything you need directly in front of you. UNID is simple to use, and can be customized to fit your needs.</p>
		</div> -->
	</div>
</section>
<script type="text/javascript" src="assets/global/scripts/jquery-3.0.0.min.js"></script>
<script>
	var scrollpos = window.scrollY;
	var header = document.getElementsByTagName("header");

	function add_class_on_scroll() {
	    header[0].classList.add("fade-in");
	}

	function remove_class_on_scroll() {
	    header[0].classList.remove("fade-in");
	}

	window.addEventListener('scroll', function(){ 
	    //Here you forgot to update the value
	    scrollpos = window.scrollY;

	    if(scrollpos > 100){
	        add_class_on_scroll();
	    }
	    else {
	        remove_class_on_scroll();
	    }
	    console.log(scrollpos);
	});
</script>
</body>
</html>