.front-page_hero {
	background: 
		linear-gradient(
	      rgba(0, 0, 0, 0.5), 
	      rgba(0, 0, 0, 0.5)
	    ),
		url(../../img/global/largecanyon.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
}
